body{
    background: black;
}

ul{
    background: rgba(255,255,255,0.5);
    padding: 10px 0;
    width: 80%;
    margin: 0 auto;
}
li{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    margin: 6px auto;
    background: rgba(255,255,255,0.75);
    width: 75%;
    align-items: center;
    padding: 5px;
    border-radius: 8px;
}

img{
    width: 20%;
    border-radius: 100%
}