@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: linear-gradient(-180deg,#c850c0,#4158d0);
}

main {
    min-height: 98vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: white;
    min-width: 900px;
    height: 520px;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container .common {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 45%;
}

.container .left {
    /* background-color: red; */
}

.container .left figure {
    
}

.container .left figure img {
    width: 240px;
}

.container .right {
    /* background-color: green; */
}

.container .right form{
    
}

.container .right form h2 {
    text-align: center;
    font-size: 18px;
    margin-bottom: 32px;
}

.container .right form .inputContainer {
    
}

.container .right form .inputContainer label{
    
}

.container .right form .inputContainer img{
    width: 15px;
    /* margin-right: 5px;
    margin-top: 15px; */
}

.container .right form .inputContainer input{
    height: 30px;
    border-radius: 17px;
    outline: none;
    margin-bottom: 10px;
    background-color: rgb(236, 236, 236);
    border: none;
}

.container .right form .inputContainer input::placeholder{
    padding: 5px 10px;
}

.container .right form .inputContainer input[type=submit]{
    background-color: green;
    height: 40px;
    width: 200px;
    border-radius: 20px;
    color: white;
    font-weight: bolder;
    margin-top: 15px;
}

.container .right form .inputContainer input[type=submit]:hover{
    border: 2px solid black;
    background-color: white;
    transition: 2s;
    cursor: pointer;
    color: black;
}

.container .right .first{
    font-size: 11px;
    text-align: center;
}

.container .right .first a {
    
}

.container .right .second{
    font-size: 11px;
    text-align: center;
}

.container .right .second a {
    
}